.poster {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.info {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  p {
    max-width: 400px;
    color: grey;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
  }
}
